body		{
		font-family:sans-serif;
		font-size:12px;
		text-align:left;
		color:#002468;
		background-color:#ffffff;
		}

a		{
		text-decoration:none;
		color:#182263;
		}

a:hover		{
		color:#FFCC00;
		text-decoration:none;
		}

table     	{
		empty-cells:show;
		text-align:left;
		border-collapse:collapse;
		margin-left:auto;
		margin-right:auto;
		}

.frame		{
		border-style:solid;
		border-width:1px;
		border-color:#182263;
		}

.button		{
		background-color:#6c83af;
		color:#FFFFFF;
		font-size:10px;
		font-family:sans-serif;
		padding-left:5px;
		padding-right:5px;
		padding-top:0px;
		padding-bottom:0px;
		margin:2px;
		border-style:dotted;
		border-color:#182263;
		border-width:1px;
		background-image:url(../images/button.png);
		background-repeat:repeat-x;
		}

.button:hover	{
		background-color:#FFCC00;
		color:#182263;
		}

.new:before	{
		content:url(../images/new.png);
		}

.old:before	{
		content:url(../images/old.png);
		}

.newex:before	{
		content:url(../images/newex.png);
		}

.oldex:before	{
		content:url(../images/oldex.png);
		}

.poll:before	{
		content:url(../images/poll.png);
		}

.closed:before	{
		content:url(../images/locked.png);
		}

.sticky:before	{
		content:url(../images/sticky.png);
		}

#logo		{
		float:left;
		background-image:url(../images/dev.png);
		background-repeat:no-repeat;
		width:130px;
		height:129px;
		}

#title		{
		padding-left:250px;
		padding-top:10px;
		font-size:16px;
		font-weight:bold;
		}

#welcome	{
		padding-left:250px;
		padding-top:20px;
		font-size:12px;
		font-weight:bold;
		}

#menu		{
		clear:left;
		text-align:center;
		margin:10px;
		}

#body		{
		text-align:center;
		}

#webring	{
		text-align:center;
		padding-top:50px;
		}

.cat		{
		color:#FFFFFF;
		font-weight:bold;
		font-size:12px;
		background-color:#6c83af;
		padding:1px;
		padding-left:100px;
		border-color:#182263;
		border-width:1px;
		border-top-style:solid;
		border-bottom-style:solid;
		}

.catname	{
		color:#FFFFFF;
		}

.catname:hover	{
		color:#FFFFFF;
		}

.path		{
		color:#FFFFFF;
		font-weight:bold;
		font-size:10px;
		background-color:#6c83af;
		padding:1px;
		}

.pathlink	{
		color:#FFFFFF;
		}

.pathlink:hover	{
		color:#FFCC00;
		}

.iconcol	{
		background-color:#dddddd;
		padding:3px;
		margin:0px;
		text-align:center;
		vertical-align:middle;
		width:30px;
		}

.threadiconcol	{
		background-color:#dddddd;
		text-align:center;
		vertical-align:middle;
		min-width:20px;
		max-width:40px;
		width:20px;
		}

.forumcol	{
		color:#002468;
		background-color:#eeeeee;
		padding:5px;
		vertical-align:top;
		}

.forumtitle	{
		font-size:12px;
		font-weight:bold;
		}

.forumdescr	{
		font-size:10px;
		}

.countcol	{
		color:#002468;
		font-size:10px;
		background-color:#eeeeee;
		padding:0px;
		text-align:center;
		}

.lastpost	{
		color:#002468;
		font-size:10px;
		background-color:#eeeeee;
		padding:3px;
		vertical-align:top;
		width:150px;
		}

.forums	{
		color:#002468;
		font-size:10px;
		background-color:#dddddd;
		padding:3px;
		padding-left:10px;
		padding-right:10px;
		vertical-align:top;
		width:150px;
		}

.title		{
		color:#ffffff;
		font-size:12px;
		background-color:#182263;
		text-align:center;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:8px;
		padding-right:8px;
		background-image:url(../images/bg.png);
		background-repeat:repeat-x;
		}

.pollbar	{
		font-size:9px;
		background-color:#6c83af;
		}

.pages		{
		color:#002468;
		font-size:10px;
		background-color:#dbdbdb;
		padding:1px;
		}

.thread		{
		font-weight:bold;
		font-size:12px;
		margin-left:5px;
		}

.threadpages	{
		font-size:9px;
		margin-left:15px;
		}

.newthread:before{
		content:"neu";
		background-color:#FFCC00;
		color:#182263;
		font-size:10px;
		font-family:sans-serif;
		padding-left:4px;
		padding-right:4px;
		padding-top:0px;
		padding-bottom:0px;
		margin-right:10px;
		border-style:dotted;
		border-color:#182263;
		border-width:1px;
		background-image:url(../images/button.png);
		background-repeat:repeat-x;
		}

.deletedthread	{
		text-decoration:line-through;
		color:gray;
		}

.movedthread	{
		color:gray;
		}

.deletedpost	{
		color:black;
		font-size:10px;
		background-color:gray;
		padding:5px;
		}

.main		{
		color:#002468;
		font-size:12px;
		background-color:#eeeeee;
		padding:5px;
		}

.post0		{
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		padding:5px;
		}

.post1		{
		color:#002468;
		font-size:12px;
		background-color:#eeeeee;
		padding:5px;
		}

.postdate	{
		font-size:9px;
		}

.postname	{
		font-weight:bold;
		}

.postbuttons	{
		text-align:right;
		}

.postedit	{
		font-size:9px;
		}

.warning	{
		font-size:10px;
		border-style:solid;
		border-width:1px;
		border-color:red;
		padding:5px;
		text-align:left;
		margin-left:30%;
		margin-right:30%;
		margin-top:10px;
		margin-bottom:10px;
		}

.preview	{
		color:black;
		font-size:10px;
		background-color:white;
		border-style:solid;
		border-width:1px;
		border-color:black;
		padding:5px;
		text-align:left;
		width:480px;
		}

pre		{
		font-family:monospace;
		color:#000000;
		font-size:12px;
		background-color:#ffffff;
		padding:5px;
		overflow:auto;
		width:80%;
		text-align:left;
		}

blockquote	{
		border-style:solid;
		border-width:2px;
		border-color:#eeeeee;
		padding:5px;
		}


input		{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#182263;
		}

textarea	{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#182263;
		}

select		{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#182263;
		}

.avatar 	{
		max-width:60px;
		max-height:60px;
		}

.link		{
		text-decoration:underline;
		color:#6c83af;
		}

.extlink	{
		text-decoration:underline;
		}

.image		{
		max-width:300px;
		max-height:300px;
		border-style:solid;
		border-width:1px;
		border-color:#182263;
		}

.image:hover	{
		cursor:pointer;
		border-color:#6c83af;
		}


.comment		{
			color:#808080;
			}

.doc			{
			color:blue;
			}

.doctag			{
			color:green;
			}

.docfixme		{
			color:red;
			}

.docparam		{
			color:yellow;
			}

.escape			{
			color:#0F0F8F;
			}

.variable		{
			color:#5555FF;
			}

.string			{
			color:#008000;
			}

.char			{
			color:#00C000;
			}

.integer		{
			color:#0000FF;
			}

.boolean		{
			color:#800080;
			}

.tag			{
			color:#0000C0;
			}

.keyword		{
			color:#800000;
			font-weight:bold;
			}

.operator		{
			color:#00FF00;
			}

.function		{
			color:#000080;
			font-weight:bold;
			}