body 		{
		background: url("http://www.archlinux.de/images/title_back.png") repeat-x top left #fbf8f1;
		padding: 0px 30px;
		margin: 0;
		color: #46494d;
		font-family: sans-serif;
		font-size:10px;
		}

#head_container {
		top:0;
		margin: 0;
		padding: 0;
		height: 140px;
		}

#main_nav ul 	{
		list-style: none;
		margin: 0;
		padding: 20px;
		padding-right: 10px;
		padding-top: 48px;
		}

#main_nav ul li {
		display: block;
		float: right;
		width: 67px;
		height: 20px;
		margin: 0;
		padding-top: 2px;
		margin-left: 3px;
		background: url("http://www.archlinux.de/images/tab.png") repeat-x bottom left #fbf8f1;
		text-align: center;
		font-size: 13px;
		}

#main_nav ul li[class~=selected] {
		background: #fbf8f1;
		}

#main_nav ul li a {
		color: #35526f;
		font-weight: bold;
		text-decoration: none;
		}

#title		{
		margin: 0;
		padding: 0;
		height: 140px;
		float: left;
		}

#logo 		{
		margin: 0;
		padding: 0;
		float: left;
		width: 140px;
		height: 140px;
		}

#logo:hover{cursor:pointer;}

a		{
		text-decoration:none;
		color:#35526f;
		}

a:hover		{
		color:#6D8AA9;
		text-decoration:none;
		}

table     	{
		empty-cells:show;
		text-align:left;
		border-collapse:collapse;
		margin-left:auto;
		margin-right:auto;
		}

.frame		{
		border-style:solid;
		border-width:1px;
		border-color:#35526f;
		}

.button		{
		background-color:#35526f;
		color:#FFFFFF;
		font-size:10px;
		font-family:sans-serif;
		padding-left:5px;
		padding-right:5px;
		padding-top:0px;
		padding-bottom:0px;
		margin:0px;
		border-style:solid;
		border-color:#6D8AA9;
		border-width:1px;
		background-image:url("../images/button.png");
		background-repeat:repeat-x;
		text-decoration: none;
		}

.button:hover	{
		background-color:#6D8AA9;
		color:#FFFFFF;
		text-decoration: none;
		border-color:#35526f;
		}

.new		{
		background-image:url("http://www.archlinux.de/images/new.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.old		{
		background-image:url("http://www.archlinux.de/images/old.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.newex		{
		background-image:url("http://www.archlinux.de/images/new_ex.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.oldex		{
		background-image:url("http://www.archlinux.de/images/old_ex.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.poll		{
		background-image:url("../images/poll.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.closed		{
		background-image:url("../images/locked.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.sticky		{
		background-image:url("../images/sticky.png");
		background-repeat:no-repeat;
		width:30px;
		height:30px;
		display:block;
		}

.summary{
		position:absolute;
		width:300px;
		overflow:hidden;
		margin:5px;
		padding:2px;
		background-image:url("../images/bg.png");
		background-repeat:repeat-x;
		background-color:#35526f;
		color:#fbf8f1;
		border:solid 1px #35526f;
		}

#welcome	{
		padding-left:250px;
		padding-top:20px;
		font-size:12px;
		font-weight:bold;
		}

#menu		{
		clear:left;
		text-align:center;
		margin-bottom:10px;
		}

#body		{
		text-align:center;
		}

#webring	{
		text-align:center;
		padding-top:50px;
		}

.cat		{
		color:#FFFFFF;
		font-weight:bold;
		font-size:12px;
		background-color:#6D8AA9;
		padding:1px;
		padding-left:100px;
		border-color:#35526f;
		border-width:1px;
		border-top-style:solid;
		border-bottom-style:solid;
		}

.catname	{
		color:#FFFFFF;
		}

.catname:hover	{
		color:#FFFFFF;
		text-decoration: none;
		}

.path		{
		color:#FFFFFF;
		font-weight:bold;
		font-size:10px;
		background-color:#6D8AA9;
		padding:1px;
		}

.pathlink	{
		color:#FFFFFF;
		}

.pathlink:hover	{
 		color:#35526f;
		}

.iconcol	{
		background-color:#dddddd;
		padding:3px;
		margin:0px;
		text-align:center;
		vertical-align:middle;
		width:30px;
		}

.threadiconcol	{
		background-color:#dddddd;
		text-align:center;
		vertical-align:middle;
		min-width:20px;
		max-width:40px;
		width:20px;
		}

.forumcol	{
		color:#002468;
		background-color:#eeeeee;
		padding:5px;
		vertical-align:top;
		}

.forumtitle	{
		font-size:12px;
		font-weight:bold;
		}

.forumdescr	{
		font-size:10px;
		}

.countcol	{
		color:#002468;
		font-size:10px;
		background-color:#eeeeee;
		padding:0px;
		text-align:center;
		}

.lastpost	{
		color:#002468;
		font-size:10px;
		background-color:#eeeeee;
		padding:3px;
		vertical-align:top;
		width:150px;
		}

.forums	{
		color:#002468;
		font-size:10px;
		background-color:#dddddd;
		padding:3px;
		padding-left:10px;
		padding-right:10px;
		vertical-align:top;
		width:150px;
		}

.title		{
		color:#ffffff;
		font-size:12px;
		background-color:#35526f;
		text-align:center;
		padding-top:2px;
		padding-bottom:2px;
		padding-left:8px;
		padding-right:8px;
		background-image:url("../images/bg.png");
		background-repeat:repeat-x;
		}

.pollbar	{
		font-size:9px;
		background-color:#6c83af;
		}

.pages		{
		color:#002468;
		font-size:10px;
		background-color:#dbdbdb;
		padding:1px;
		}

.thread		{
		font-weight:bold;
		font-size:12px;
		margin-left:5px;
		}

.threadpages	{
		font-size:9px;
		margin-left:15px;
		}

.newthread{
		background-color:#3366CC;
		color:#FFFFFF;
		font-size:10px;
		font-family:sans-serif;
		padding-left:4px;
		padding-right:4px;
		padding-top:0px;
		padding-bottom:0px;
		margin-right:10px;
		border-style:dotted;
		border-color:#35526f;
		border-width:1px;
		background-image:url("../images/button.png");
		background-repeat:repeat-x;
		}

.deletedthread	{
		text-decoration:line-through;
		color:gray;
		}

.movedthread	{
		color:gray;
		}

.deletedpost	{
		color:black;
		font-size:10px;
		background-color:gray;
		padding:5px;
		}

.main		{
		color:#002468;
		font-size:12px;
		background-color:#eeeeee;
		padding:5px;
		}

.post0		{
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		padding:5px;
		}

.post1		{
		color:#002468;
		font-size:12px;
		background-color:#eeeeee;
		padding:5px;
		}

.postdate	{
		font-size:9px;
		}

.postname	{
		font-weight:bold;
		}

.postbuttons	{
		text-align:right;
		}

.postedit	{
		font-size:9px;
		}

.warning	{
		font-size:10px;
		border-style:solid;
		border-width:1px;
		border-color:red;
		padding:5px;
		text-align:left;
		margin-left:30%;
		margin-right:30%;
		margin-top:10px;
		margin-bottom:10px;
		}

.preview	{
		color:black;
		font-size:10px;
		background-color:white;
		border-style:solid;
		border-width:1px;
		border-color:black;
		padding:5px;
		text-align:left;
		width:480px;
		}

pre		{
		font-family:monospace;
		color:#000000;
		font-size:12px;
		background-color:#ffffff;
		border-style:dashed;
		border-width:1px;
		border-color:#35526f;
		padding:5px;
		overflow:auto;
		width:80%;
		text-align:left;
		}

blockquote	{
		border-style:solid;
		border-width:2px;
		border-color:#eeeeee;
		padding:5px;
		}


input		{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#35526f;
		}

textarea	{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#35526f;
		}

select		{
		font-family:sans-serif;
		color:#002468;
		font-size:12px;
		background-color:#dbdbdb;
		border-style:solid;
		border-width:1px;
		border-color:#35526f;
		}

.avatar 	{
		max-width:60px;
		max-height:60px;
		}

.link		{
		text-decoration:underline;
		color:#6c83af;
		}

.extlink	{
		text-decoration:underline;
		}

.image		{
		max-width:300px;
		max-height:300px;
		border-style:solid;
		border-width:1px;
		border-color:#35526f;
		}

.image:hover	{
		cursor:pointer;
		border-color:#3366CC;
		text-decoration: none;
		}

h1{font-size:20px;}
h2{font-size:18px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:10px;}